name: React CI/CD Deploy to EC2

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: 'npm'

      - name: Install deps and build
        run: |
          npm ci || npm install
          npm run build

      - name: Deploy to Nginx directory
        run: |
          sudo rm -rf /var/www/reactapp/*
          sudo cp -r build/* /var/www/reactapp/
          sudo systemctl reload nginx
